*{
    box-sizing: border-box !important;
}


.hidden2 {
	opacity: 0 !important;
	filter: blur(5px) !important;
	transform: translateX(-100%) !important;
	transition: all 1.5s !important;
}

.show2{
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateX(0) !important;
}