*{
    box-sizing: border-box !important;
    text-align: justify !important;
}

body{
    scroll-behavior: smooth;
    width: auto;
}

.logo-img-pos{
    position: absolute;
    top: 0;
    right: 75px;
    z-index: 3000;
}

.my-bckgr1{
    background: linear-gradient(45deg, #D585F9, #858AF9);
    clip-path: polygon(0 0, 100% 0, 50% 67%, 0% 100%);
    z-index: -4000;
    position:absolute;
    width:99vw ;
    height: 400vh;
}

.r-l-d li{
    list-style: none;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.r-l-d li a{
    text-decoration: none;
}

