*{
    box-sizing: border-box;
}

.logo-img-pos{
    position: absolute;
    top: 0;
    right: 75px;
    z-index: 3000;
}

.my-bckgr1{
    background: linear-gradient(45deg, #D585F9, #858AF9);
    clip-path: polygon(0 0, 100% 0, 50% 67%, 0% 100%);
    z-index: -4000;
    position:absolute;
    width:99vw ;
    height: 400vh;
}

.mapa{
    width: 100%;
    height: auto;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    filter: drop-shadow(0 -2mm 4mm rgb(119, 240, 119));
}


.my-list li{
    list-style: none;
    margin: 0.3em;
    font-size: large;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

.wrapper {
    display: flex;
    justify-content: center;
}
.image-container{
    display: flex;
    width: 100;
    margin-top: 3em;
    height: auto;
    justify-content: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}